services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    container_name: omni_stock_backend_dev
    command: sh -c "tail -f /dev/null"
    working_dir: /usr/src/app/backend
    volumes:
      - ./backend:/usr/src/app/backend:rw
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
